body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.canvas {
    height: 400px;
    width: 700px;
    background-color: green;    
}

.bola {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: bola 8s linear 1;
}

@keyframes bola {
    0% {left: 0; top: 50%; opacity: 1;}
    40% {left: 95%; top: 50%; opacity: 1; }
    60% {left: 95%; top: 95%; opacity: 1;}
    80% {left: 50%; top: 95%; opacity: 1;}
    100% {left: 0; top: 95%; opacity: 0;}
}